---
layout: default
---

<h2>Posts</h2>
<ul>
  {% for post in site.posts %}
    <li>
      <p><span>{{ post.date | date: "%b %-d, %Y" }}</span></p>
      <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
    </li>
  {% endfor %}
</ul>

<h2>Regulation notes</h2>
<ul>
  {% for reg in site.regnotes %}
    <li>
      <h4><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.title }}</a></h4>
    </li>
  {% endfor %}
</ul>




<p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>