---
layout: default
---

<h2>Building Regulations - Primary Legislation</h2>
<table class="table table-hover">
  <tr>
    <td><h3>Primary Legislation</h3></td>
    <td><h3>Laid before Parliament</h3></td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2010/2214/made" target="_blank">The Building Regulations 2010</a></td>
    <td>9th September 2010</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2011/1515/made" target="_blank">The Building (Amendment) Regulations 2011</a></td>
    <td>22nd June 2011</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2012/718/made" target="_blank">The Building (Amendment) Regulations 2012</a></td>
    <td>13th March 2012</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2012/3119/made" target="_blank">The Building Regulations &c. (Amendment) Regulations 2012</a></td>
    <td>19th December 2012</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2013/181/made" target="_blank">The Building Regulations &c. (Amendment) Regulations 2013</a></td>
    <td>5th February 2013</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2013/1105/made" target="_blank">The Building (Amendment) Regulations 2013</a></td>
    <td>13th May 2013</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2013/1959/made" target="_blank">The Building Regulations &c. (Amendment) (No.2) Regulations 2013</a></td>
    <td>8th August 2013</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2014/579/made" target="_blank">The Building Regulations &c. (Amendment) Regulations 2014</a></td>
    <td>13th March 2014</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2014/2362/made" target="_blank">The Building (Amendment) Regulations 2014</a></td>
    <td>8th September 2014</td>
  </tr>
  <tr>
    <td><a href="http://www.legislation.gov.uk/uksi/2015/767/made" target="_blank">The Building Regulations &c. (Amendment) Regulations 2015</a></td>
    <td>27th March 2015</td>
  </tr>
</table>



<h2>Approved Documents</h2>
<p>The Building Regulations 2010</p>


<h2>Posts</h2>
<ul>
  {% for post in site.posts %}
    <li>
      <p><span>{{ post.date | date: "%b %-d, %Y" }}</span></p>
      <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
    </li>
  {% endfor %}
</ul>

<h2>Regulation notes</h2>
<ul>
  {% for reg in site.regnotes %}
    <li>
      <h4><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.title }}</a></h4>
    </li>
  {% endfor %}
</ul>




<p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>