<li class="has-dropdown">
  <a href="#">Regulation Notes</a>
  <ul class="dropdown">
    
    <li class="has-dropdown"><a href="#">Part A</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part A" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part B</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part B" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part C</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part C" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part D</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part D" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part E</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part E" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part F</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part F" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part G</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part G" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part H</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part H" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part J</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part J" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part K</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part K" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part L</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part L" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part N</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part N" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part P</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part P" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part R</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part R" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    <li class="has-dropdown"><a href="#">Part V</a>
      <ul class="dropdown">
        {% for reg in site.regnotes %}
          {% if reg.section == "Part V" %}
            <li><a href="{{ reg.url | prepend: site.baseurl }}">{{ reg.regulationno }}</a><li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    
    
    
  </ul>
</li>