/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.bnotebox {
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #aa6708;
}

.bnotebox h4 {
    color: #aa6708;
}